<h1>Edit Blog</h1>


<%= form_with(model: @blog, local: true) do |f|%>
<p> 
<%=f.label :title%><br>
<%=f.text_field :title%>
</p>

<p>
<%=f.label :description%><br>
<%=f.text_area :description, cols: "50", rows: "25"%>
</p>

<p>
<%=f.submit%>
</p>
<%end%>