<!DOCTYPE html>
<html>
  <head>
    <title>Doodles</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
<%# this below is refering to stylesheet application in app/assets/stylesheets/application.css %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%# below refering to app/packs/application.js %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <%=link_to 'home', root_path%>
  <%# we can also say about_path %>
   <%=link_to 'about', 'about'  %>
   <%=link_to 'articles', '/articles'  %>
   <%=link_to 'create article', '/articles/new'%>
   <%=link_to 'view first article', article_path(1) %>
    <%= yield %>
  </body>
</html>
